#header-div{
    overflow:  auto;
    font-family: 'TIro Devanagari Marathi', serif;
    text-align: center;
    color: white; 
    background-image: url('/images/restaurant.jpg');
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0px 5px 20px 5px black;
    display: inline-block;
    width: 50%;
    height: 70%;
    padding: 15%;
    margin: 10%;     
}

.seperators{
    width: 50%;
    border: 1px solid black; 
}

#book-your-event{
    text-align: center;
}

#title-book-your-event{
    font-family: 'Pacifico', cursive;
}

#header-div:hover{
    animation: scaleDiv 200ms ease-in-out forwards;
}

@keyframes scaleDiv{
    to{
        transform: scale(1.2);
    }
}